/* grids and flex boxes */
.grid-2-auto{
    column-count: 2;
}

/* width and height */
.h-20{
    height: 10%;
    max-height: fit-content;
}
#side-bar{
    height: 100vh;
}
/* borders */
.border-none, .list-group, .list-group-item {
    border: 0em none transparent;
}

/* centering */

.form-center{
   
    display: grid;
    place-content: center;
}

/* margin */
.pt-10{
 margin-top: 10vh;
}

/* fonts heights */

/* font text color */
.text-green{
    color : #19AC85;
}
/* back ground colors */
.bg-black, .bg-black ul li{
    background-color: #232F3A;
}
.bg-green {
    background-color: #19AC85;
    color:white;
}

/* button background color */
.btn-green, 
.btn-green.active, 
.btn-green:active{
    background-color: #19AC85;
    color: white;
    border: 1px solid #19AC85;
    border-radius: 7%;
    padding: 0.5em 0.8em 0.5em 0.8em;
}

.btn-green:link{
    background-color: #19AC85;
    color: white;
}

.btn-green:hover{
    background-color:white;
    color: #19AC85;
}

/* border */
