/* grids and flex boxes */
.grid-2-auto{
    column-count: 2;
}

/* width and height */
.w-20{
    width: 20vw;
    max-width: 20vw;
}
.w-10{
    width: 10%;
    max-width: 10vw;
}

.w-5{
    width: 5vw;
    max-width: 5vw;
}

.w-80{
    width: 80vw;
    max-width: 100vw;
    min-width: 80vw;
}

.w-90{
    width: 90vw;
    min-width: 90vw;
}
.wv-100{
    width:100%;
    max-width: 100vw;
    min-width: 100%; 
}
.h-20{
    height: 10%;
    max-height: 18vh;
    min-height: 10vh;
}
#side-bar{
    height: 100vh;
}
/* borders */
.border-none, .list-group, .list-group-item {
    border: 0em none transparent;
}

/* centering */

.form-center{
   
    display: grid;
    place-content: center;
}

/* margin */
.pt-10{
 margin-top: 10vh;
}

/* fonts size */
.f-rem-2{
    font-size: 2.2rem;
}
/* font text color */
.text-green{
    color : #19AC85;
}

.side-nav-link{
    color: #19AC85;
}

.side-nav-link:active{
    color: #19AC85;
}

.side-nav-link:hover{

    color: #19AC85; 
    transition: 0.3s;
    opacity: 0.7;
}
/* back ground colors */
.bg-black, .bg-black ul li{
    background-color: #232F3A;
}
.bg-green {
    background-color: #19AC85;
    color:white;
}

/* button background color */
.link-bg-green {
    background-color: #19AC85;
    color:white;
}
.link-bg-green:hover {
    background-color:white;
    color: #19AC85;
    text-decoration: underline;
}



.btn-green, 
.btn-green.active, 
.btn-green:active{
    background-color: #19AC85;
    color: white;
    border: 1px solid #19AC85;
    border-radius: 7%;
    padding: 0.5em 0.8em 0.5em 0.8em;
}

.btn-green:link{
    background-color: #19AC85;
    color: white;
}

.btn-green:hover{
    background-color:white;
    color: #19AC85;
}
.btn-green:focus{
    background-color: #19AC85;
    color: white;
    border: 4px solid  #19AC85;

}

/* border */
.border-grey-l{
    border-left: 1px solid #4A5967;
}
.border-grey-b{
    border-bottom: 1px solid #4A5967;
}

